@{
    ViewData["Title"] = "Home Page";
    
}


<div class="container-fluid">
    <div class="row">
        <div class="col-md-3 bg-light">
            <input type="hidden" name="fieldName" id="fieldId" value="@TempData["id"]">
            <label for="colorPicker" class="form-label">Select Color</label>
            <input type="color" class="form-control-color" id="colorPicker" value="black" />
            <div class="row">
                <button class="btn-danger" id="clearButton">Clear All</button>
            </div>
        </div>
        
        <div class="col-md-9">
            <div id="konva-container">
            </div>
        </div>
    </div>
</div>



<script type="module" src="~/js/site.js" asp-append-version="true"></script>

