@{
    ViewData["Title"] = "Home Page";
    
}


<div class="container-fluid">
    <div class="row">
        <div class="col-md-3">
            <button id="saveDrawingButton">Save Drawing</button>
            <button id="uploadPicture">Upload Image</button>
            <input type="hidden" name="fieldName" id="fieldId" value="@TempData["id"]">
            <label for="colorPicker">Select Color</label>
            <input type="color" class="form-control-color" id="colorPicker" value="black" />
            <button class="btn" id="clearButton">Clear All</button>
        </div>

        <div class="col-md-9">
            <div id="konva-container">
            </div>
        </div>
    </div>
</div>



<script type="module" src="~/js/site.js" asp-append-version="true"></script>

